body {
    margin: 0;
    padding: 0;
    border: none;
    transform: scale(1.4);
    transform-origin: 0 0;
  }
  
.roupa-1, .roupa-1 * { box-sizing: border-box; }.roupa-1 {background: #ffffff; width: 1440px; height: 1390px; position: relative; overflow: hidden;}
 .group-30 {position: absolute; inset: 0;}
 .group-2 {width: 168px; height: 241px; position: static;}
 .item-5 {width: 168px; height: 241px; position: static;}
 .rectangle-7 {width: 168px; height: 241px; position: absolute; left: 156px;top: 251px;}
 .group-33 {position: absolute; inset: 0;}
 .group-22 {width: 553px; height: 889px; position: static;}
 .item-52 {width: 553px; height: 889px; position: static;}
 .rectangle-72 {width: 553px; height: 889px; position: absolute; left: 347px;top: 251px;}
 .group-31 {position: absolute; inset: 0;}
 .rectangle-73 {width: 168px; height: 241px; position: absolute; left: 156px;top: 575px;}
 .group-32 {position: absolute; inset: 0;}
 .rectangle-74 {width: 168px; height: 241px; position: absolute; left: 156px;top: 899px;}
 .barra-inferior {width: 1440px; height: 95px; position: absolute; left: 0px;top: 1300px;}
 .barra-inferiro {width: 1440px; height: 95px; position: absolute; left: 0px;top: 0px;}
 .barra-superior {background: var(--cinza-1, #222222); width: 1440px; height: 95px; position: absolute; left: 0px;top: 0px;}
 .group-23 {position: absolute; inset: 0;}
 .contato {color: var(--primary, #ff33a9); text-align: left; font: var(--menornegrito-16, 700 16px/120% 'Montserrat', sans-serif); position: absolute; left: 156px;top: 10px;}
 .e-mail-contato-marca-com-br {color: var(--branco, #ffffff); text-align: left; font: var(--menornegrito-16, 700 16px/120% 'Montserrat', sans-serif); position: absolute; left: 156px;top: 38px;}
 .whatsapp-55-14-xxxxx-xxxx {color: var(--branco, #ffffff); text-align: left; font: var(--menornegrito-16, 700 16px/120% 'Montserrat', sans-serif); position: absolute; left: 156px;top: 66px;}
 .barra-superior2 {width: 1440px; height: 95px; position: absolute; left: 0px;top: 0px;}
 .home {position: absolute; inset: 0;}
 .home2 {color: var(--branco, #ffffff); text-align: left; font: 700 16px/112% 'Montserrat', sans-serif; position: absolute; left: 444px;top: 38px;}
 .material-symbols-arrow-back-ios {position: absolute; left: 502px;top: 53px; transform: translate(0px, -12px); overflow: visible;}
 .marcas {position: absolute; inset: 0;}
 .marcas2 {color: var(--branco, #ffffff); text-align: left; font: 700 16px/112% 'Montserrat', sans-serif; position: absolute; left: 540px;top: 38px;}
 .material-symbols-arrow-back-ios2 {position: absolute; left: 619px;top: 53px; transform: translate(0px, -12px); overflow: visible;}
 .roupas {position: absolute; inset: 0;}
 .roupas2 {color: var(--branco, #ffffff); text-align: left; font: 700 16px/112% 'Montserrat', sans-serif; position: absolute; left: 657px;top: 38px;}
 .material-symbols-arrow-back-ios3 {position: absolute; left: 734px;top: 53px; transform: translate(0px, -12px); overflow: visible;}
 .tenis {position: absolute; inset: 0;}
 .t-nis {color: var(--branco, #ffffff); text-align: left; font: 700 16px/112% 'Montserrat', sans-serif; position: absolute; left: 772px;top: 38px;}
 .material-symbols-arrow-back-ios4 {position: absolute; left: 826px;top: 53px; transform: translate(0px, -12px); overflow: visible;}
 .acessorios {position: absolute; inset: 0;}
 .acess-rios {color: var(--branco, #ffffff); text-align: left; font: 700 16px/112% 'Montserrat', sans-serif; position: absolute; left: 864px;top: 38px;}
 .material-symbols-arrow-back-ios5 {position: absolute; left: 979px;top: 53px; transform: translate(0px, -12px); overflow: visible;}
 .icones {position: absolute; inset: 0;}
 .material-symbols-search {position: absolute; left: 1112px;top: 33px; overflow: visible;}
 .mdi-user-circle-outline {position: absolute; left: 1160px;top: 33px; overflow: visible;}
 .mdi-cards-heart-outline {position: absolute; left: 1208px;top: 33px; overflow: visible;}
 .material-symbols-shopping-cart-outline {position: absolute; left: 1256px;top: 33px; overflow: visible;}
 .home3 {color: var(--branco, #ffffff); text-align: left; font: var(--menornegrito-16, 700 16px/120% 'Montserrat', sans-serif); position: absolute; left: 444px;top: 38px;}
 .material-symbols-arrow-back-ios6 {position: absolute; left: 502px;top: 53px; transform: translate(0px, -12px); overflow: visible;}
 .roupas3 {color: var(--branco, #ffffff); text-align: left; font: var(--menornegrito-16, 700 16px/120% 'Montserrat', sans-serif); position: absolute; left: 564px;top: 38px;}
 .material-symbols-arrow-back-ios7 {position: absolute; left: 641px;top: 53px; transform: translate(0px, -12px); overflow: visible;}
 .t-nis2 {color: var(--branco, #ffffff); text-align: left; font: var(--menornegrito-16, 700 16px/120% 'Montserrat', sans-serif); position: absolute; left: 703px;top: 38px;}
 .material-symbols-arrow-back-ios8 {position: absolute; left: 757px;top: 53px; transform: translate(0px, -12px); overflow: visible;}
 .acess-rios2 {color: var(--branco, #ffffff); text-align: left; font: var(--menornegrito-16, 700 16px/120% 'Montserrat', sans-serif); position: absolute; left: 819px;top: 38px;}
 .material-symbols-arrow-back-ios9 {position: absolute; left: 934px;top: 53px; transform: translate(0px, -12px); overflow: visible;}
 .material-symbols-search2 {position: absolute; left: 1112px;top: 33px; overflow: visible;}
 .mdi-user-circle-outline2 {position: absolute; left: 1160px;top: 33px; overflow: visible;}
 .mdi-cards-heart-outline2 {position: absolute; left: 1208px;top: 33px; overflow: visible;}
 .material-symbols-shopping-cart-outline2 {position: absolute; left: 1256px;top: 33px; overflow: visible;}
 .logo-para-vendedor-ou-loja-de-sneakers-cor-neutra-urbano-1-removebg-preview-1 {width: 78px; height: 77px; position: absolute; left: 143px;top: 9px;}
 .descri-o-do-produto {width: 360px; height: 497px; position: absolute; left: 924px;top: 255px;}
 .descri-o-do-produto2 {width: 360px; height: 497px; position: absolute; left: 0px;top: 0px;}
 .addias-yeezy-slide {color: var(--cinza-1, #222222); text-align: left; font: var(--titulonegrito-25, 700 25px/120% 'Montserrat', sans-serif); position: absolute; left: 0px;top: 0px; width: 360px;}
 .r-xxx-xx {color: var(--cinza-1, #222222); text-align: left; font: var(--titulonegrito-25, 700 25px/120% 'Montserrat', sans-serif); position: absolute; left: 0px;top: 64px; width: 168px;}
 .adidas-yeezy-slide-pure-beg {color: var(--cinza-1, #222222); text-align: left; font: var(--titulo-25, 400 25px/120% 'Montserrat', sans-serif); position: absolute; left: 0px;top: 145px;}
 .tamanho {color: var(--cinza-1, #222222); text-align: left; font: var(--titulonegrito-25, 700 25px/120% 'Montserrat', sans-serif); position: absolute; left: 0px;top: 253px; width: 168px;}
 .adicionar-ao-carrinho {border-radius: 5px; width: 360px; height: 40px; position: absolute; left: 0px;top: 457px;}
 .rectangle-16 {background: var(--cinza-1, #222222); border-radius: 15px; width: 360px; height: 40px; position: absolute; left: 0px;top: 0px;}
 .adicionar-ao-carrinho2 {color: var(--primary, #ff33a9); text-align: left; font: 900 20px/112% 'Montserrat', sans-serif; position: absolute; left: 38px;top: 9px; width: 322px;}
 .adicionar-ao-carrinho3 {border-radius: 5px; border-style: solid; border-color: var(--cinza-1, #222222); border-width: 2px; width: 360px; height: 40px; position: absolute; left: 0px;top: 527px;}
 .rectangle-162 {background: var(--branco, #ffffff); border-radius: 15px; width: 360px; height: 40px; position: absolute; left: 0px;top: 0px;}
 .tamanho2 {width: 272px; height: 50px; position: absolute; left: 924px;top: 584px;}
 .group-35 {position: absolute; inset: 0;}
 .rectangle-26 {background: #d9d9d9; border-radius: 5px; width: 50px; height: 50px; position: absolute; left: 0px;top: 0px;}
 .p {color: var(--cinza-1, #222222); text-align: left; font: var(--titulonegrito-25, 700 25px/120% 'Montserrat', sans-serif); position: absolute; left: 13px;top: 10px;}
 .group-36 {position: absolute; inset: 0;}
 .rectangle-262 {background: #d9d9d9; border-radius: 5px; width: 50px; height: 50px; position: absolute; left: 74px;top: 0px;}
 .m {color: var(--cinza-1, #222222); text-align: left; font: var(--titulonegrito-25, 700 25px/120% 'Montserrat', sans-serif); position: absolute; left: 87px;top: 10px;}
 .group-37 {position: absolute; inset: 0;}
 .rectangle-263 {background: #d9d9d9; border-radius: 5px; width: 50px; height: 50px; position: absolute; left: 148px;top: 0px;}
 .g {color: var(--cinza-1, #222222); text-align: left; font: var(--titulonegrito-25, 700 25px/120% 'Montserrat', sans-serif); position: absolute; left: 163px;top: 10px;}
 .group-38 {position: absolute; inset: 0;}
 .rectangle-264 {background: #d9d9d9; border-radius: 5px; width: 50px; height: 50px; position: absolute; left: 222px;top: 0px;}
 .gg {color: var(--cinza-1, #222222); text-align: left; font: var(--titulonegrito-25, 700 25px/120% 'Montserrat', sans-serif); position: absolute; left: 227px;top: 10px;}
